<!DOCTYPE html>
<html>
<head>
  <title>Tell You Why</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="description" content="<%= @description %>"></meta>
  <meta property="og:title" content="Tell You Why"/>
  <meta property="og:site_name" content="Tell You Why"/>
  <meta property="og:description" content="<%= @description %>"/>
	
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></script>

  <script type="text/javascript">
  	window.submitAjaxRequest = function submitAjaxRequest() {
  		$.ajax({
  			url : '/verify_js',
  			data : {
  				session_id : '<%= @session_id %>'
  			},
  			method : 'POST',
  			success : function successHandler(data, status, xhrObject) {
  				console.log("Data : ", data);
  			}
  		});
  	}
  	</script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><h1>TellYouWhy</h1></a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<main id="main_content" role="main" class="row">
			<h2>If you must know</h2>
			<div class="col-md-12 article-list">
				<article clas="row">
					<header>
						<h3><a href="/you-got-virus-and-malware">Why your computer got virus and malware</a></h3>
					</header>
				</article>
				<article clas="row">
					<header>
						<h3><a href="/iphone-better-than-android">Why iPhone is better than Android</a></h3>
					</header>
				</article>
				<article clas="row">
					<header>
						<h3><a href="/you-struggle-with-ios">Why you struggle with iOS</a></h3>
					</header>
				</article>
			</div>
		</main>
	</div>

	<div>
		<form action="/capture_request" method="post">
			<input type="hidden" id="session_id" name="session_id" value="<%= @session_id %>"/>
			<input type="text" id="name" name="name" placeholder="Please submit your name" />
			<input type="submit">Submit</input>
		</form>
	</div>

	<script type="text/javascript">
  		$(document).ready(submitAjaxRequest);
  	</script>
  	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-56452910-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>