<main id="main-content" role="main">
	<article class="hidden">
		<header>
			<h1>Why iPhone is better than Android</h1>
		</header>
		<time datetime="<%= Time.now.strftime('%Y-%d-%m')%>">
			<%= Time.now.strftime("%B %e, %Y") %>
		</time>
		<section>
			<p>
				<a class="image-link" href="<%= @image %>" alt="iPhone is better than andoid" title=""></a>
			</p>

			<p>At this point most people should be convinced that iPhone is by far superior than Android, trying to compare the two is like trying to compare the sun to a meteor.</p>

			<p>In case you are still defending android here are the final arguments that will change your mind.</p>
		</section>
	</article>
	<article class="full">
		<p>Because Fuck You!</p>
	</article>
</main>