<main id="main-content" role="main">
	<article class="hidden">
		<header>
			<h1>Why you struggle with iOS</h1>
		</header>
		<time datetime="2014-07-11<%= Time.now.strftime('%Y-%d-%m')%>">November 7, 2014</time>
		<section>
			<p><a class="image-link" href="<%= @image %>" alt="You struggle with iOS" title=""></a></p>

			<p>There are a few who cannot addapt to the incredible sophistication and amazing UX provided by Apple's iOS, we decided to make a thorough investigation to figure out why and be able to give accurate feedback to the involved parties.</p>

			<p>This is what we found.</p>
		</section>
	</article>
	<article class="full">
		<p>Because you lack the brain power!</p>
		<p class="small-note">(Even apple has limits)</p>
	</article>
</main>