<main id="main-content" role="main">
	<article class="hidden">
		<header>
			<h1>Why your computer got virus and malware</h1>
		</header>
		<time datetime="<%= Time.now.strftime('%Y-%d-%m')%>">
			<%= Time.now.strftime("%B %e, %Y") %>
		</time>
		<section>
			<p>
				<a class="image-link" href="<%= @image %>" alt="Why you got virus" title="Why you got virus"></a>
			</p>

			<p>Stop suffering from attacks to your computer, keeping viruses and other malware away from your computer is actually easier than you think. It is not true that you need to purchase expensive anti-virus software and keep it up to date just to make sure nothing evil will come in and destroy your data.</p>

			<p>Most developers, engenieers and other technology savyy people have always kept their computers safe from external attackers. To do so they follow a simple rule of thumb, which I will discuss in just a second, however you must first understand the reasons why viruses and malware infect your computer so that you can change this pattern forever.</p>

			<p>Here is the key:</p>
		</section>
	</article>
	<article class="full">
		<p>Because you keep falling for these fake articles!</p>
	</article>
</main>